@media screen and (min-width: 768px) and (max-width: 1024px) {
  #menu {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 2%;
  }
  nav a:hover {
    border-top: hidden;
    border-bottom: 2px solid #0065fc;
  }
  .sinscrire {
    margin-top: auto;
    margin-left: 50%;
  }
  .Filtre {
    border: 1.8px solid #dddbdb;
  }
  /***Hébergements à marseille***/
  #Marseille {
    flex-direction: column-reverse;
  }
  .boxcard {
    margin-left: 15px;
    margin-right: 15px;
  }
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    right: 100px;
  }
  #titreMarseille {
    background-color: white;
    align-items: center;
  }
  #titreMarseille h2 {
    margin-left: 1%;
  }
  .hotelHebergements {
    color: black;
    font-family: "Raleway-Bold.ttf"; /*tout les titre d'herbergements*/
    position: relative;
    bottom: 10px;
    right: 2%;
  }

  .nuitHebergements {
    color: black;
    position: relative; /*p nuit à partir de tout d'hebergements*/
    bottom: 21px;
    right: 2%;
    font-family: "Raleway", sans-serif;
  }
  .stars {
    margin: 0 0.75rem 0.25rem 0.75rem;
  }

  .bluestar {
    color: #0065fc;
  }

  .greystar {
    color: #d9d9d9;
  }
  .stars {
    position: relative;
    bottom: 33px;
    right: 6%;
  }
  #AfficherPlus {
    margin-left: 5%;
  }
  /***Aside POPULAIRE***/
  aside {
    width: 100%;
    border-radius: 0px;
    margin: auto;
    padding-right: 10px;
  }

  #cardspop {
    width: 97%;
    margin: auto;
    padding-right: 2%;
    justify-content: center;
  }
  #boxpop {
    display: flex;
    width: 100%;
    height: 200px;
    font-size: 13px;
  }
  .boxpop figure {
    display: flex;
    width: 100%;
    font-size: 18px;
  }
  .boxpop img {
    min-width: 40%;
  }

  aside {
    border-radius: 0px;
    margin-right: 5%;
  }

  #populaires {
    padding-left: 3%;
  }
  .hotelpop {
    color: black;
    font-family: "Raleway-Bold.ttf";
  }
  .nuitPop {
    font-family: "Raleway", sans-serif;
    color: black;
  }
  .StarPop {
    position: relative;
    top: 10%;
    right: 6%;
  }
  .fa-chart-line {
    padding-right: 3%;
  }

  /*** Activités ***/

  #flexActivite h2 {
    margin-left: 2%;
  }

  #activites {
    flex-direction: column;
    width: 95%;
    margin-right: 5%;
    align-items: center;
  }

  .boxactivite-A {
    width: 100%;
  }
  .boxactivite-A figure {
    height: 200px;
  }
  .boxactivite-A img {
    height: 155px;
  }
  .boxactivite-B {
    width: 100%;
  }
  .activite1 {
    height: 200px;
  }
  .activite2 {
    height: 200px;
  }
  .boxactivite-B img {
    height: 155px;
  }

  #activites figcaption {
    font-size: 0.9em;
  }

  .boxactivite,
  figure {
    box-shadow: #c3c3c3 10px 10px 10px;
  }
  /*** footer        ***/
  footer {
    width: 100%;
    flex-direction: column;
    margin: auto;
    font-size: 0.9em;
    padding-left: 2%;
  }
}

/*** Partis Ipad pro***/

@media screen and (min-width: 1024px) and (max-width: 1025px) {
  .boxcard {
    position: relative;
    right: 2%;
  }
}
