/*** Partie Smartphone***/

@media screen and (min-width: 320px) and (max-width: 767px) {
  #bloc_page {
    width: 98%;
  }
  /*** header***/
  header {
    display: block;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 5%;
  }

  h2 {
    font-size: 20px;
  }
  #menu {
    flex-direction: column-reverse;
    align-items: center;
    font-size: 15px;
    margin-right: 20%;
  }
  nav a:hover {
    border-top: hidden;
    border-bottom: 1.8px solid #0065fc;
  }
  .sinscrire {
    position: absolute;
    top: 4%;
    right: 11%;
  }

  #barreRecherche {
    margin-left: 5%;
  }
  label/*button */ {
    border-radius: 15px 15px 15px 15px;
    margin-left: -5%;
    width: 5%;
  }
  .fa-search {
    visibility: visible;
  }
  .recherche {
    display: none;
  }
  .Filtre {
    margin: 5px 15px 5px 0px;
    padding-right: 5%;
    font-size: 14px;
    border: 1.8px solid #dddbdb;
  }
  /***Hébergements à marseille***/
  #Marseille {
    flex-direction: column-reverse;
  }
  #titreMarseille {
    background-color: white;
  }

  aside {
    border-radius: 0px;
    margin-left: 0px;
  }
  #populaires {
    padding-left: 1%;
  }
  #cardspop {
    margin: auto;
  }
  .boxpop img {
    min-width: 40%;
  }
  #titreMarseille h2 {
    margin-left: 7%;
  }
  #titreMarseille {
    max-width: 100%;
    padding: 15px 10px 0px 0px;
  }
  .boxcard {
    width: 100%;
    margin-left: 0px;
  }
  #cards {
    position: relative;
    right: 22px;
  }
  .boxcard figure {
    width: 90%;
    height: 180px;
    font-size: 13px;
  }
  .boxcard figure img {
    height: 110px;
  }
  .hotelHebergements {
    font-size: 1.3em;
  }
  .nuitHebergements {
    font-size: 1.2em;
  }
  #AfficherPlus {
    margin-left: 7%;
  }
  .stars {
    font-size: 1.2em;
  }
  /*** Activités ***/
  #flexActivite h2 {
    margin-left: 6%;
  }
  #activites {
    flex-direction: column;
    width: 98%;
  }
  .boxactivite-A {
    width: 100%;
  }
  .boxactivite-A figure {
    height: 200px;
    box-shadow: #c3c3c3 10px 10px 10px;
  }
  .boxactivite-A img {
    height: 155px;
  }
  .boxactivite-B {
    width: 100%;
  }
  .activite1 {
    height: 200px;
    box-shadow: #c3c3c3 10px 10px 10px;
  }
  .activite2 {
    height: 200px;
    box-shadow: #c3c3c3 10px 10px 10px;
  }
  .boxactivite-B img {
    height: 155px;
  }

  /*** Footer***/
  footer {
    width: 100%;
    flex-direction: column;
    padding-left: 30px;
    font-size: 0.9em;
    margin-top: 10px;
  }
  footer h2 {
    margin-left: 0%;
  }
}
