/*** Partis Smartphone***/

@media screen and (min-width: 280px) and (max-width: 667px) {
  body {
    width: auto;
    overflow-x: hidden;
    height: auto;
    margin: 0px;
    max-width: 290%;
    padding-left: 5%;
  }
  /*** header***/
  header {
    height: 1540%;
  }
  #logo img {
    position: relative;
    bottom: 10%;
    right: 3%;
  }

  .Sinscrire {
    border: none;
    position: relative;
    right: 82%;
    bottom: 420%;
  }

  .Test {
    position: relative;
    bottom: 130%;
    right: 30%;
  }

  .moveHebergements {
    position: relative;
    right: 50%;
    bottom: 130%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  #navigation :nth-child(1) a:hover {
    color: #0065fc;
    border-bottom: 3px solid#0065fc;
    padding-bottom: 15px;
  }

  #navigation :nth-child(2) a:hover {
    color: #0065fc;
    border-bottom: 3px solid#0065fc;
    padding-bottom: 15px;
  }
  #navigation {
    position: relative;
    bottom: 5px;
    left: 1%;
  }
  nav a:hover {
    border: transparent;
  }

  h1 {
    position: relative;
    bottom: 45px;
    width: 380px;
    right: 3.7%;
    /*Trouvez votre hébergement */
  }

  #centre {
    /* premier p   */
    position: relative;
    bottom: 55px;
    right: 3.7%;
    max-width: 480px;
    font-size: 18px;
  }

  .fa-search {
    visibility: visible;
    color: white;
    font-size: 123%;
    left: 328px; /*petite loupe barre recherche*/
    top: 285px;
    position: fixed;
    cursor: pointer;
  }
  .Recherche a {
    visibility: hidden;
  }

  .Recherche {
    border-radius: 10px/20px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 17px;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    left: 280px;
    bottom: 40px;
    cursor: pointer;
  }

  .location {
    background-color: #f2f2f2;
    width: 6%; /* icon localisasion*/
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    height: 29px;
    position: relative;
    right: 8%;
    bottom: 90px;
    font-size: 115%;
  }

  #pseudo {
    font-size: 17px;
    height: 47px; /*le formulaire*/
    width: 264px;
    position: relative;
    bottom: 155px;
    left: 10px;
  }

  .Filtres {
    position: relative; /*paragraphe filtres*/
    bottom: 148px;
    right: 7%;
    font-size: 117%;
  }

  #petiteinfo {
    position: relative; /*infos*/
    bottom: 260px;
    right: 3%;
    font-size: 110%;
    width: 340px;
    white-space: pre-line;
  }

  .I {
    width: 18px;
    padding: 3px; /*info icon*/
    font-size: 100%;
    position: relative;
    bottom: 320px;
    right: 7.2%;
  }
  /*** Aside Populaire***/
  #populaire {
    background-color: #ece9e9;
    margin-bottom: 700px;
    position: relative;
    right: 81%;
    top: -970px;
    height: 700px; /*background Populaire */
    max-width: 400px;
    width: 623px;
  }

  .LesPlusPopulaires {
    position: relative;
    left: 9%; /*titre populaire*/
    top: 2.5%;
    font-size: 145%;
  }

  .fa-chart-line {
    position: relative; /*icon a coter du titre populaire*/
    bottom: 220px;
    left: 86%;
    font-size: 145%;
  }

  #Soleil {
    width: 340px; /*contour de l'image hotel solei du matin*/
    position: relative;
    right: 2%;
    top: 4%;
  }
  .imagePop {
    border-radius: 20px/20px;
    border-radius: 26px 0px 0px 26px;
    width: 140px;
    height: 158px;
    position: relative;
    cursor: pointer; /*image emile SOLEIL*/
  }

  .titrePop {
    position: relative;
    bottom: 165px;
    left: 45%;
    cursor: pointer;
    font-size: 125%;
  }

  .nuitPop {
    position: relative;
    bottom: 175px;
    left: 45%;
    cursor: pointer;
    font-size: 120%;
  }

  .starspop {
    cursor: pointer;
    position: relative;
    bottom: 20px;
    left: 2%;
  }
  /*Au coeur de l'eau Chambres d'hôtes*/
  #AuCeourDeLeau {
    width: 340px;
  }

  .etoilegris .fa-star {
    position: relative;
    bottom: 164.8px; /*l'étoile gris*/
    left: 69%;
    cursor: pointer;
  }
  /*Hôtel Tout bleu et Blanc*/
  .toutBleuEtBlanc {
    position: relative; /*figure de l'image hotel tout bleu et blanc*/
    right: 2%;
    bottom: 20px;
    width: 340px;
  }
  /** filtres**/
  .Economique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    padding: 13px;
    text-decoration: none; /*Economique forme ronde et background  */
    font-size: 20px;
    width: 120px;
    padding-left: 70px;
    position: relative;
    bottom: 135px;
    left: -28px;
    cursor: pointer;
  }
  .money {
    color: #0065fc;
    border-radius: 50px 45px 50px 45px; /*icon d'argent pour économique*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    bottom: 175px;
    left: -29px;
  }

  .Romantique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0; /*Romantique forme ronde et background  */
    font-size: 20px;
    width: 180px;
    padding: 13px;
    padding-left: 74px;
    position: relative;
    bottom: 228px;
    left: -28px;
    cursor: pointer;
  }

  .ceour {
    color: #0065fc;
    position: relative;
    bottom: 270px;
    left: -28px;
    border-radius: 50px 45px 50px 45px;
    width: 20px;
    height: 20px; /*icon d'un ceour pour Romantique*/
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 20px;
  }

  .Animaux a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Animaux forme ronde et background  */
    font-size: 20px;
    width: 220px;
    padding: 13px;
    padding-left: 72px;
    position: relative;
    bottom: 237px;
    left: -28px;
    cursor: pointer;
  }
  .dog {
    color: #0065fc;
    position: relative;
    bottom: 278px;
    left: -28px;
    border-radius: 50px 45px 50px 45px; /*icon d'un ceour pour Romantique*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 22px;
  }

  .Familial a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    bottom: 220px;
    left: 183px;
    width: 120px;
    padding: 13px;
    padding-left: 70px;
    cursor: pointer;
  }

  .enfant {
    color: #0065fc;
    position: relative;
    bottom: 262px;
    left: 183px;
    border-radius: 60px 55px 60px 55px; /*icon d'enfant pour familial*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }

  /*** Hébergements à Marseille***/
  #Marseille {
    width: 620px;
    background-color: transparent;
    border: transparent;
    position: relative;
    top: 455px; /*background hébergements*/
    left: -64px;
  }
  /*auberge la cannebière*/
  .imageHebergements {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px; /*image*/
    width: 345px;
    height: 140px;
    position: relative;
  }
  #titreMarseille {
    position: relative;
    top: 2.7%; /*hebergements a marseile*/
    left: 6.8%;
  }
  .hotelHebergements {
    position: relative;
    bottom: 10px;
    left: 4%;
    font-size: 119%;
  }
  .nuitHebergements {
    position: relative;
    bottom: 25px;
    left: 4%;
  }

  .marcusFigure {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*contour de l'image marcus*/
    position: relative;
    top: 2.8%;
    right: 1.1%;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  .fa-star {
    font-size: 100%;
    position: relative; /*etoile bleu*/
    bottom: 40px;
    left: 4%;
  }

  .etoile .fa-star {
    position: relative; /*l'étoile gris*/
    bottom: 58.8px;
    left: 30%;
  }

  /* Hôtel du port*/
  .figureFred {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 255px;
    right: 31%;
    width: 346px;
    height: 220px;
  }

  /*Hôtel Les mouettes*/
  .figureMouettes {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    width: 346px;
    height: 220px;
    position: relative;
    right: 60.7%;
    top: 498px;
  }

  /*Hôtel de la mer*/
  .figureLaMer {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    right: 15px;
    width: 346px;
    height: 220px;
  }

  #LaMer {
    position: relative;
    top: 8px;
    left: 1.6%; /*contour de l'image annie la mer*/
  }

  /*Auberge Le Panier*/
  .figureLePanier {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 727px;
    right: 30.8%;
    width: 346px;
    height: 220px;
  }

  /*Hôtel chez Amina*/
  .figureChezAmina {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 980px;
    right: 60.5%;
    width: 346px;
    height: 220px;
  }
  /*Afficher plus*/
  #AfficherPlus {
    position: relative;
    top: 3%;
    left: 8%;
    font-size: 123%;
    cursor: pointer;
  }

  /***Section Activité***/
  #titreActivité {
    position: relative;
    left: -20px;
    top: 410%;
  }

  #flexActivite {
    position: relative; /*div qui contient toute la partis activité*/
    bottom: 830px;
    height: 200px;
  }

  /***PARTIS ACTIVITé***/
  /*Vieu Port*/
  .ImgBateauxAndCalanques {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px; /*image du bateaux et des Calanques*/
    width: 358px;
    height: 180px;
    cursor: pointer;
  }

  .BateauxVieuPort {
    width: 350px;
    height: 240px;
    position: relative;
    right: 19.5%;
    top: 415%; /*contour image bateaux*/
    cursor: pointer;
  }

  .TitreActivite {
    cursor: pointer;
    position: relative; /*toutes les titres en dessous de chaque figure Activité*/
    left: 6%;
    bottom: 5px;
    font-size: 110%;
  }

  /*Fort de Pomègues*/
  .PaulFort {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image fort*/
  }

  .FortDePomegues {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px; /*contour image fort*/
    top: 413.5%;
    cursor: pointer;
  }

  /*Île du Frioul*/
  .Ilekevin {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image de l'ile*/
  }

  .duFrioul {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 410%; /*contour image de l'ile*/
    cursor: pointer;
  }

  /*Parc National des Calanques*/
  .desCalanques {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 407%; /*contour image Parc National*/
    cursor: pointer;
  }

  /*Notre-Dame-de-la-Garde*/
  .NotreDameFlorian {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Notre Dame*/
  }

  .deLaGarde {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 405%; /*contour image Notre Dame*/
    cursor: pointer;
  }

  /*Parc Longchamp*/
  .PaulinLongChamp {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Parc LONG Champ*/
  }

  .Longchamp {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 403%; /*contour image Parc LONG Champ*/
    cursor: pointer;
  }

  /*** Footer***/

  footer {
    height: 600px;
  }

  #footerBouge {
    position: relative; /*bouger le footer*/
    top: 14900%;
    right: 10%;
    width: 1550px;
  }

  .Apropos {
    position: relative;
    left: 1%;
  }

  #direction {
    font-size: 113%;
    position: relative;
    right: 1.5%;
  }

  /** Nos Hébergements**/
  .NosHebergements {
    position: relative; /*titre */
    left: -458px;
    top: 200px;
    margin: 0;
    padding: 0;
  }

  #directionDeHebergements {
    position: relative;
    left: -500px;
    top: 200px;
  }

  /** Assistance**/
  #bougerAssistance {
    position: relative;
    left: 5px;
    top: 18%;
  }

  .Assistance {
    position: relative;
    left: 35px;
    bottom: 10px;
  }
}
@media screen and (min-width: 667px) and (max-width: 744px) {
  body {
    width: auto;
    overflow-x: hidden;
    height: auto;
    margin: auto;
    max-width: 290%;
    padding-left: 5%;
  }
  /*** header***/

  header {
    height: 1600%;
  }
  #logo img {
    position: relative;
    bottom: 10%;
    right: 3%;
  }

  .Sinscrire {
    position: relative;
    right: 80%;
    bottom: 480%;
  }

  nav a:hover {
    border: none;
    color: #0065fc;
    border-bottom: 3px solid#0065fc;
    padding-bottom: 10px;
  }
  .Test a:hover {
    border: none;
    color: #0065fc;
    border-bottom: 3px solid#0065fc;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .Test {
    position: relative;
    bottom: 130%;
    right: 30%;
  }
  .moveHebergements {
    position: relative;
    right: 50%;
    bottom: 130%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  #navigation {
    position: relative;
    bottom: 18px;
    left: 1%;
  }

  h1 {
    position: relative;
    bottom: 45px;
    width: 330px; /*Trouvez votre hébergement */
    right: 3.7%;
  }

  #centre {
    position: relative;
    bottom: 55px; /* premier p   */
    left: -3.8%;
    max-width: 480px;
    font-size: 18px;
  }

  .fa-search {
    visibility: visible;
    color: white;
    font-size: 123%;
    left: 348px; /*loupe pour smartphone*/
    top: 260px;
    position: fixed;
    cursor: pointer;
  }
  .Recherche a {
    visibility: hidden; /*le bouton recherche pour pc*/
  }

  .Recherche {
    border-radius: 10px/20px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc; /* le background de recherche   */
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 17px;
    position: relative;
    left: 280px;
    bottom: 40px;
    cursor: pointer;
  }

  .location {
    background-color: #f2f2f2;
    width: 6%; /* icon localisasion*/
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    height: 29px;
    position: relative;
    right: 8%;
    bottom: 90px;
    font-size: 115%;
  }

  #pseudo {
    font-size: 17px;
    height: 47px; /*le formulaire*/
    width: 264px;
    position: relative;
    bottom: 155px;
    left: 10px;
    text-decoration: none;
    border: transparent;
  }

  .Filtres {
    /*paragraphe filtres*/
    width: 16px;
    position: relative;
    bottom: 148px;
    right: 7%;
    font-size: 117%;
  }

  #petiteinfo {
    position: relative; /*infos*/
    bottom: 260px;
    right: 3%;
    font-size: 110%;
    width: 340px;
    white-space: pre-line;
  }

  .I {
    color: #0065fc;
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px; /*info icon*/
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    width: 18px;
    text-align: center;
    padding: 3px;
    font-size: 100%;
    position: relative;
    bottom: 320px;
    right: 7.2%;
  }
  /*** Aside Populaire***/
  #populaire {
    background-color: #ece9e9;
    margin-bottom: 700px;
    position: relative;
    right: 70%;
    top: -970px;
    height: 700px; /*background Populaire */
    max-width: 400px;
    width: 623px;
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 2.5px solid#ece9e9;
    border-bottom: 2.5px solid #ece9e9;
    border-right: 3px solid #ece9e9;
  }

  .LesPlusPopulaires {
    position: relative;
    left: 9%; /*titre populaire*/
    top: 2.5%;
    font-size: 145%;
  }

  .fa-chart-line {
    position: relative;
    bottom: 220px; /*icon a coter du titre populaire*/
    left: 86%;
    font-size: 145%;
  }

  #Soleil {
    width: 340px; /*contour de l'image hotel solei du matin*/
    position: relative;
    right: 2%;
    top: 4%;
  }
  .imagePop {
    border-radius: 20px/20px;
    border-radius: 26px 0px 0px 26px;
    width: 140px;
    height: 158px;
    position: relative;
    cursor: pointer; /*image emile SOLEIL*/
  }

  .titrePop {
    position: relative;
    bottom: 165px; /*titre sous image populaire*/
    left: 45%;
    cursor: pointer;
    font-size: 125%;
  }

  .nuitPop {
    position: relative;
    bottom: 175px; /* nuit a partir de ..populaire*/
    left: 45%;
    cursor: pointer;
    font-size: 120%;
  }

  .starspop {
    cursor: pointer;
    position: relative; /*étoile populaire*/
    bottom: 20px;
    left: 2%;
  }
  /*Au coeur de l'eau Chambres d'hôtes*/
  #AuCeourDeLeau {
    width: 340px;
  }

  .etoilegris .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 164.8px;
    left: 69%;
    cursor: pointer;
  }
  /*Hôtel Tout bleu et Blanc*/
  .toutBleuEtBlanc {
    position: relative; /*figure de l'image hotel tout bleu et blanc*/
    right: 2%;
    bottom: 20px;
    width: 340px;
  }
  /** filtres**/
  .Economique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    padding: 13px;
    text-decoration: none; /*Economique forme ronde et background  */
    font-size: 20px;
    width: 120px;
    padding-left: 70px;
    position: relative;
    bottom: 135px;
    left: -28px;
    cursor: pointer;
  }
  .money {
    color: #0065fc;
    border-radius: 50px 45px 50px 45px; /*icon d'argent pour économique*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    bottom: 175px;
    left: -29px;
    font-size: 20px;
  }

  .Romantique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Romantique forme ronde et background  */
    font-size: 20px;
    width: 180px;
    padding: 13px;
    padding-left: 74px;
    position: relative;
    bottom: 228px;
    left: -28px;
    cursor: pointer;
  }

  .ceour {
    color: #0065fc;
    position: relative;
    bottom: 270px;
    left: -28px;
    border-radius: 50px 45px 50px 45px;
    width: 20px;
    height: 20px; /*icon d'un ceour pour Romantique*/
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    cursor: pointer;
    font-size: 20px;
  }

  .Animaux a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Animaux forme ronde et background  */
    font-size: 20px;
    width: 220px;
    padding: 13px;
    padding-left: 72px;
    position: relative;
    bottom: 237px;
    left: -28px;
    cursor: pointer;
  }
  .dog {
    color: #0065fc;
    position: relative;
    bottom: 278px;
    left: -28px;
    border-radius: 50px 45px 50px 45px; /*icon d'un ceour pour Romantique*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    cursor: pointer;
    font-size: 22px;
  }

  .Familial a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    bottom: 220px;
    left: 183px;
    width: 120px;
    padding: 13px;
    padding-left: 70px;
    cursor: pointer;
  }

  .enfant {
    color: #0065fc;
    position: relative;
    bottom: 262px;
    left: 183px;
    border-radius: 60px 55px 60px 55px; /*icon d'enfant pour familial*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    cursor: pointer;
    font-size: 20px;
  }

  /*** Hébergements à Marseille***/
  #Marseille {
    width: 620px;
    background-color: transparent;
    border: transparent;
    position: relative;
    top: 455px; /*background hébergements*/
    left: -64px;
  }
  /*auberge la cannebière*/
  .imageHebergements {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px; /*image*/
    width: 345px;
    height: 140px;
    position: relative;
  }
  #titreMarseille {
    position: relative;
    top: 2.7%; /*hebergements a marseile*/
    left: 6.8%;
  }
  .imageHebergements {
    color: black;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 4%;
    font-size: 119%;
  }
  .nuitHebergements {
    color: black;
    position: relative;
    bottom: 25px;
    left: 4%;
  }

  .marcusFigure {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*contour de l'image marcus*/
    position: relative;
    top: 2.8%;
    right: 1.1%;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  .fa-star {
    font-size: 100%;
    position: relative; /*etoile bleu*/
    bottom: 40px;
    left: 4%;
  }

  .etoile .fa-star {
    /*l'étoile gris*/
    position: relative;
    bottom: 58.8px;
    left: 30%;
  }

  /* Hôtel du port*/
  .figureFred {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 255px;
    right: 31%;
    width: 346px;
    height: 220px;
  }
  /*Hôtel Les mouettes*/
  .figureMouettes {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    width: 346px;
    height: 220px;
    position: relative;
    right: 60.7%;
    top: 498px;
  }

  /*Hôtel de la mer*/
  .figureLaMer {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    right: 15px;
    width: 346px;
    height: 220px;
  }

  #LaMer {
    position: relative;
    top: 8px;
    left: 1.6%; /*contour de l'image annie la mer*/
  }
  /*Auberge Le Panier*/
  .figureLePanier {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 727px;
    right: 30.8%;
    width: 346px;
    height: 220px;
  }
  /*Hôtel chez Amina*/
  .figureChezAmina {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 980px;
    right: 60.5%;
    width: 346px;
    height: 220px;
  }
  /*Afficher plus*/
  #AfficherPlus {
    position: relative;
    top: 3%;
    left: 8%;
    font-size: 123%;
    cursor: pointer;
  }
  /***Section Activité***/
  #titreActivité {
    position: relative;
    left: -20px;
    top: 410%;
  }

  #flexActivite {
    position: relative;
    bottom: 830px;
    height: 200px;
  }
  /***PARTIS ACTIVITé***/

  .ImgBateauxAndCalanques {
    /*image bateaux et clanques*/
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px;
    cursor: pointer;
  }

  .BateauxVieuPort {
    width: 350px;
    height: 240px;
    position: relative;
    right: 11%;
    top: 415%; /*contour image port*/
    cursor: pointer;
  }

  .TitreActivite {
    cursor: pointer;
    position: relative;
    left: 6%;
    bottom: 5px;
    font-size: 110%;
  }

  /*Fort de Pomègues*/
  .PaulFort {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image fort*/
  }

  .FortDePomegues {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px; /*contour image fort*/
    top: 413.5%;
    cursor: pointer;
  }

  /*Île du Frioul*/
  .Ilekevin {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image de l'ile*/
  }

  .duFrioul {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 410%; /*contour image de l'ile*/
    cursor: pointer;
  }

  /*Parc National des Calanques*/
  .parcKilyan {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /* image Parc National*/
    cursor: pointer;
  }

  .desCalanques {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 407%; /*contour image Parc National*/
    cursor: pointer;
  }

  /*Notre-Dame-de-la-Garde*/
  .NotreDameFlorian {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Notre Dame*/
  }

  .deLaGarde {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 405%; /*contour image Notre Dame*/
    cursor: pointer;
  }

  /*Parc Longchamp*/
  .PaulinLongChamp {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Parc LONG Champ*/
  }

  .Longchamp {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 403%; /*contour image Parc LONG Champ*/
    cursor: pointer;
  }

  /*** Footer***/

  footer {
    background-color: #e8ebeb;
    height: 600px;
  }

  #footerBouge {
    position: relative; /*bouger le footer*/
    top: 15700%;
    right: 10%;
    width: 1550px;
  }

  .Apropos {
    position: relative;
    left: 1%;
  }

  #direction {
    font-size: 113%;
    position: relative;
    right: 1.5%;
  }

  /** Nos Hébergements**/

  .NosHebergements {
    /*titre */
    position: relative;
    left: -458px;
    top: 200px;
    margin: 0;
    padding: 0;
  }

  #directionDeHebergements {
    position: relative;
    left: -500px;
    top: 200px;
  }

  /** Assistance**/

  #bougerAssistance {
    position: relative;
    left: 5px;
    top: 18%;
  }

  .Assistance {
    position: relative;
    left: 35px;
    bottom: 10px;
  }
}

@media screen and (min-width: 51px) and (max-width: 279px) {
  body {
    width: auto;
    overflow-x: hidden;
    height: auto;
    margin: auto;
    max-width: 290%;
    padding-left: 5%;
  }
  /*** header***/

  header {
    height: 1320%;
  }
  #logo img {
    position: relative;
    bottom: 10%;
    right: 3%;
  }

  .Sinscrire {
    position: relative;
    right: 80%;
    bottom: 390%;
  }

  nav a:hover {
    border: none;
    color: #0065fc;
    border-bottom: 3px solid#0065fc;
    padding-bottom: 10px;
  }
  .Test a:hover {
    border: none;
    color: #0065fc;
    border-bottom: 3px solid#0065fc;
    padding-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .Test {
    position: relative;
    bottom: 130%;
    right: 30%;
  }
  .moveHebergements {
    position: relative;
    right: 50%;
    bottom: 130%;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }

  #navigation {
    position: relative;
    bottom: 10px;
    left: 1%;
  }

  h1 {
    position: relative;
    bottom: 45px;
    width: 380px;
    right: 3.7%;
    /*Trouvez votre hébergement */
  }

  #centre {
    font-family: "Raleway", sans-serif; /* premier p   */
    position: relative;
    bottom: 55px;
    right: 3.7%;
    max-width: 480px;
    font-size: 18px;
  }

  .fa-search {
    visibility: visible;
    color: white;
    font-size: 123%;
    left: 328px; /*petite loupe*/
    top: 260px;
    position: fixed;
    cursor: pointer;
  }
  .Recherche a {
    visibility: hidden;
  }

  .Recherche {
    border-radius: 10px/20px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc; /* le background de recherche   */
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 17px;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    left: 280px;
    bottom: 40px;
    cursor: pointer;
  }

  .location {
    background-color: #f2f2f2;
    width: 6%; /* icon localisasion*/
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    height: 29px;
    position: relative;
    right: 8%;
    bottom: 90px;
    font-size: 115%;
  }

  #pseudo {
    font-size: 17px;
    height: 47px;
    font-family: "Raleway-ExtraBold.ttf"; /*le formulaire*/
    width: 264px;
    position: relative;
    bottom: 155px;
    left: 10px;
    text-decoration: none;
    text-decoration-color: black;
    border: transparent;
  }

  .Filtres {
    font-family: "Raleway-ExtraBold.ttf"; /*paragraphe filtres*/
    width: 16px;
    position: relative;
    bottom: 148px;
    right: 7%;
    font-size: 117%;
  }

  #petiteinfo {
    font-family: "Raleway";
    position: relative; /*infos*/
    bottom: 260px;
    right: 3%;
    font-size: 110%;
    width: 340px;
    white-space: pre-line;
  }

  .I {
    color: #0065fc;
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px; /*info icon*/
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    width: 18px;
    text-align: center;
    padding: 3px;
    font-size: 100%;
    position: relative;
    bottom: 320px;
    right: 7.2%;
  }

  /*** Aside Populaire***/
  #populaire {
    background-color: #ece9e9;
    margin-bottom: 700px;
    position: relative;
    right: 81%;
    top: -970px;
    height: 700px; /*background Populaire */
    max-width: 400px;
    width: 623px;
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 2.5px solid#ece9e9;
    border-bottom: 2.5px solid #ece9e9;
    border-right: 3px solid #ece9e9;
  }

  .LesPlusPopulaires {
    /*titre populaire*/
    position: relative;
    left: 9%;
    top: 2.5%;
    font-size: 145%;
  }

  .fa-chart-line {
    /*icon a coter du titre populaire*/
    position: relative;
    bottom: 220px;
    left: 86%;
    font-size: 145%;
  }

  #Soleil {
    width: 340px; /*contour de l'image hotel solei du matin*/
    position: relative;
    right: 2%;
    top: 4%;
  }
  .imagePop {
    border-radius: 20px/20px;
    border-radius: 26px 0px 0px 26px;
    width: 140px;
    height: 158px;
    position: relative;
    cursor: pointer; /*image emile SOLEIL*/
  }

  .titrePop {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 165px;
    left: 45%;
    cursor: pointer;
    font-size: 125%;
  }

  .nuitPop {
    position: relative;
    bottom: 175px;
    left: 45%;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    font-size: 120%;
  }

  .starspop {
    cursor: pointer;
    position: relative;
    bottom: 20px;
    left: 2%;
  }

  /*Au coeur de l'eau Chambres d'hôtes*/
  #AuCeourDeLeau {
    width: 340px;
  }

  .etoilegris .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 164.8px;
    left: 69%;
    cursor: pointer;
  }
  /*Hôtel Tout bleu et Blanc*/
  .toutBleuEtBlanc {
    position: relative; /*figure de l'image hotel tout bleu et blanc*/
    right: 2%;
    bottom: 20px;
    width: 340px;
  }

  /** filtres**/

  .Economique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;

    padding: 13px;
    text-decoration: none; /*Economique forme ronde et background  */
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;

    width: 120px;
    padding-left: 70px;
    position: relative;
    bottom: 135px;
    left: -28px;
    cursor: pointer;
    text-align: right;
  }
  .Economique a:hover {
    color: white; /*  économique lorsqu'elle devient cliquable   */
    background-color: #0065fc;
  }

  .money {
    color: #0065fc;

    border-radius: 50px 45px 50px 45px; /*icon d'argent pour économique*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    bottom: 175px;
    left: -29px;
    font-size: 20px;
  }

  .Romantique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Romantique forme ronde et background  */
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;
    width: 180px;
    padding: 13px;
    padding-left: 74px;
    position: relative;
    bottom: 228px;
    left: -28px;
    cursor: pointer;
    text-align: right;
  }

  .Romantique a:hover {
    color: white; /* Romantique lorsqu'elle devient cliquable   */
    background-color: #0065fc;
  }

  .ceour {
    color: #0065fc;
    position: relative;
    bottom: 270px;
    left: -28px;
    border-radius: 50px 45px 50px 45px;
    width: 20px;
    height: 20px; /*icon d'un ceour pour Romantique*/
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 20px;
  }

  .Animaux a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Animaux forme ronde et background  */
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;
    width: 120px;
    padding: 13px;
    padding-left: 72px;
    position: relative;
    bottom: 237px;
    left: -28px;
    cursor: pointer;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .Animaux a:hover {
    color: white; /* Animaux lorsqu'elle devient cliquable   */
    background-color: #0065fc;
    position: relative;
  }

  .dog {
    color: #0065fc;
    position: relative;
    bottom: 278px;
    left: -28px;
    border-radius: 50px 45px 50px 45px; /*icon d'un ceour pour Romantique*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 22px;
  }

  .Familial a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none;
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 220px;
    left: 183px;
    width: 120px;
    padding: 13px;
    padding-left: 70px;
    cursor: pointer;
    text-align: right;
  }

  .Familial a:hover {
    color: white; /* Familial lorsqu'elle devient cliquable   */
    background-color: #0065fc;
  }

  .enfant {
    color: #0065fc;
    position: relative;
    bottom: 262px;
    left: 183px;
    border-radius: 60px 55px 60px 55px; /*icon d'enfant pour familial*/
    height: 20px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }

  /*** Hébergements à Marseille***/

  #Marseille {
    width: 620px;
    background-color: transparent;
    border: transparent;
    position: relative;
    top: 455px; /*background hébergements*/
    left: -64px;
  }

  /*auberge la cannebière*/

  .imageHebergements {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px; /*image*/
    width: 345px;
    height: 140px;
    position: relative;
  }
  #titreMarseille {
    position: relative;
    top: 2.7%; /*hebergements a marseile*/
    left: 6.8%;
  }
  .hotelHebergements {
    color: black;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 4%;
    font-size: 119%;
  }
  .nuitHebergements {
    color: black;
    position: relative;
    bottom: 25px;
    left: 4%;
    font-family: "Raleway", sans-serif;
  }

  .marcusFigure {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*contour de l'image marcus*/
    position: relative;
    top: 2.8%;
    right: 1.1%;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  .fa-star {
    color: #0065fc;
    font-size: 100%;
    position: relative; /*etoile bleu*/
    bottom: 40px;
    left: 4%;
  }

  .etoile .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58.8px;
    left: 30%;
  }

  /* Hôtel du port*/

  .figureFred {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 255px;
    right: 31%;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  /*Hôtel Les mouettes*/
  .figureMouettes {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    width: 346px;
    height: 220px;
    position: relative;
    right: 60.7%;
    top: 498px;
    background-color: rgb(252, 249, 252);
  }

  /*Hôtel de la mer*/
  .figureLaMer {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    right: 15px;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  #LaMer {
    position: relative;
    top: 8px;
    left: 1.6%; /*contour de l'image annie la mer*/
  }
  /*Auberge Le Panier*/
  .figureLePanier {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 727px;
    right: 30.8%;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  /*Hôtel chez Amina*/
  .figureChezAmina {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 980px;
    right: 60.5%;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }
  /*Afficher plus*/
  #AfficherPlus {
    position: relative;
    top: 3%;
    left: 8%;
    font-family: "Raleway-Bold.ttf";
    font-size: 123%;
    cursor: pointer;
  }

  /***Section Activité***/

  #titreActivité {
    position: relative;
    left: -20px;
    top: 410%;
  }

  #flexActivite {
    position: relative;
    bottom: 830px;
    height: 200px;
  }

  /***PARTIS ACTIVITé***/
  /*Vieu Port*/
  .ImgBateauxAndCalanques {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px;
    cursor: pointer;
  }

  .BateauxVieuPort {
    width: 350px;
    height: 240px;
    position: relative;
    right: 19.5%;
    top: 415%; /*contour image port*/
    cursor: pointer;
  }

  .TitreActivite {
    cursor: pointer;
    position: relative;
    left: 6%;
    bottom: 5px;
    font-size: 110%;
  }

  /*Fort de Pomègues*/
  .PaulFort {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image fort*/
  }

  .FortDePomegues {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px; /*contour image fort*/
    top: 413.5%;
    cursor: pointer;
  }

  /*Île du Frioul*/
  .Ilekevin {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image de l'ile*/
  }

  .duFrioul {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 410%; /*contour image de l'ile*/
    cursor: pointer;
  }

  /*Parc National des Calanques*/
  .parcKilyan {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /* image Parc National*/
    cursor: pointer;
  }

  .desCalanques {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 407%; /*contour image Parc National*/
    cursor: pointer;
  }

  /*Notre-Dame-de-la-Garde*/
  .NotreDameFlorian {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Notre Dame*/
  }

  .deLaGarde {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 405%; /*contour image Notre Dame*/
    cursor: pointer;
  }

  /*Parc Longchamp*/
  .PaulinLongChamp {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Parc LONG Champ*/
  }

  .Longchamp {
    width: 350px;
    height: 245px;
    position: relative;
    left: -70px;
    top: 403%; /*contour image Parc LONG Champ*/
    cursor: pointer;
  }

  /*** Footer***/

  footer {
    height: 280px;
    margin: 0;
    padding: 0;
  }

  #footerBouge {
    position: relative; /*bouger le footer*/
    top: 15700%;
    right: 10%;
  }

  .Apropos {
    position: relative;
    left: 1%;
  }

  #direction {
    font-size: 113%;
    position: relative;
    right: 1.5%;
  }

  /** Nos Hébergements**/

  .NosHebergements {
    /*titre */
    position: relative;
    left: -458px;
    top: 200px;
    margin: 0;
    padding: 0;
  }

  #directionDeHebergements {
    position: relative;
    left: -500px;
    top: 200px;
  }
  /** Assistance**/
  #bougerAssistance {
    position: relative;
    left: 5px;
    top: 18%;
  }

  .Assistance {
    position: relative;
    left: 35px;
    bottom: 10px;
  }
}
