/*** Partis Smartphone***/

@media screen and (min-width: 375px) and (max-width: 667px) {
  body {
    height: auto;
  }

  /*** header***/

  header {
    height: 140px;
  }
  #logo img {
    position: relative;
    bottom: 10px;
    left: -18px;
  }

  .Sinscrire {
    position: relative;
    right: 78px;
  }

  .Test {
    position: relative;
    top: 50px;
  }
  .moveHebergements {
    color: #0065fc;
    position: relative;
    right: 24px;
    top: 50px;
    text-align: center;
    border-bottom: 4px solid #0065fc;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
  }
  nav {
    position: relative;
    right: 1060px;
    bottom: 32px;
  }

  h1 {
    position: relative;
    bottom: 45px;
    width: 380px;
    right: 30px;
    /*Trouvez votre hébergement */
  }

  #centre {
    font-family: "Raleway", sans-serif; /* premier p   */
    position: relative;
    bottom: 55px;
    right: 30px;
    width: 800px;
  }

  .fa-search {
    visibility: visible;
    color: white;
    font-size: 20px;
    left: 332px;
    top: 248px;
    position: fixed;
    cursor: pointer;
  }
  .Recherche a {
    visibility: hidden;
  }

  .Recherche {
    border-radius: 10px/20px;
    border-radius: 15px 15px 15px 15px;
    background-color: #0065fc; /* le background de recherche   */
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 17px;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    left: 280px;
    bottom: 40px;
    cursor: pointer;
  }

  .location {
    background-color: #f2f2f2;
    width: 6%; /* icon localisasion*/
    padding: 10px;
    border-radius: 10px 0px 0px 10px;
    text-align: center;
    height: 29px;
    position: relative;
    right: 35px;
    bottom: 90px;
    font-size: 18px;
  }

  #pseudo {
    font-size: 17px;
    height: 47px;
    font-family: "Raleway-ExtraBold.ttf"; /*le formulaire*/
    width: 264px;
    position: relative;
    bottom: 155px;
    left: 10px;

    text-decoration: none;
    text-decoration-color: black;
    border: transparent;
  }

  .Filtres {
    font-family: "Raleway-ExtraBold.ttf"; /*paragraphe filtres*/
    width: 16px;
    position: relative;
    bottom: 148px;
    right: 35px;
    font-size: 19px;
  }

  #petiteinfo {
    font-family: "Raleway";
    position: relative; /*infos*/
    bottom: 260px;
    left: 1px;
    font-size: 18px;
  }

  .I {
    color: #0065fc;
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px; /*info icon*/
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    width: 18px;
    text-align: center;
    padding: 3px;
    font-size: 13px;
    position: relative;
    bottom: 320px;
    right: 34px;
  }

  /*** Aside Populaire***/

  #populaire {
    background-color: #ece9e9;
    margin-bottom: 700px;
    margin-left: 1000px;
    position: relative;
    left: -1055px;
    top: -970px;
    height: 700px; /*background Populaire */
    max-width: 400px;
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 2.5px solid#ece9e9;
    border-bottom: 2.5px solid #ece9e9;
    border-right: 3px solid #ece9e9;
    flex: 1.2;
  }

  .LesPlusPopulaires {
    /*titre populaire*/
    position: relative;
    left: 38px;
    top: 20px;
    font-size: 24px;
  }

  .fa-chart-line {
    /*icon a coter du titre populaire*/
    position: relative;
    bottom: 220px;
    left: 355px;
    font-size: 24px;
  }

  #populaire {
    position: relative;
    right: 1020px;
    bottom: 1550px;
    width: 623px;
  }

  #Soleil {
    width: 340px; /*contour de l'image hotel solei du matin*/
    position: relative;
    right: 10px;
    top: 20px;
  }
  .emile {
    border-radius: 20px/20px;
    border-radius: 26px 0px 0px 26px;
    padding: bottom 100px;
    width: 140px;
    height: 158px;
    position: relative;

    cursor: pointer; /*image emile SOLEIL*/
  }

  .soleilDuMatin {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 165px;
    left: 150px;
    cursor: pointer;
    font-size: 19px;
  }

  .nuitSoleil {
    position: relative;
    bottom: 175px;
    left: 150px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    font-size: 17px;
  }

  #starsSoleil {
    cursor: pointer;
    position: relative;
    bottom: 113px;
    left: 145px;
    font-size: 19px;
  }

  /*Au coeur de l'eau Chambres d'hôtes*/

  .creative {
    border-radius: 20px/20px;
    border-radius: 26px 0px 0px 26px;
    padding: bottom 100px;
    width: 140px;
    height: 158px;
    position: relative;

    cursor: pointer; /*image chambre aux ceour de l'eau*/
  }

  #AuCeourDeLeau {
    width: 340px;
  }
  .chambreAuCeour {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 165px;
    left: 150px;
    cursor: pointer;
    font-size: 19px;
  }
  .nuitAuCeour {
    position: relative;
    bottom: 170px;
    left: 150px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    font-size: 17px;
  }

  #starsCeour {
    cursor: pointer;
    position: relative; /*etoile bleu*/
    bottom: 113px;
    left: 145px;
    font-size: 19px;
  }
  #starsgreyy .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 62px;
    left: 105px;
    cursor: pointer;
    font-size: 17px;
  }

  /*Hôtel Tout bleu et Blanc*/

  .bleuEtBlanc {
    border-radius: 20px/20px;
    border-radius: 26px 0px 0px 26px;
    padding: bottom 100px;
    width: 140px;
    height: 158px;
    position: relative;
    cursor: pointer; /*image hotel bleu et blanc*/
  }

  .toutBleuEtBlanc {
    position: relative; /*figure de l'image hotel tout bleu et blanc*/
    right: 5px;
    bottom: 10px;
    width: 340px;
  }

  .HotelToutBleuEtBlanc {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 165px;
    left: 150px;
    cursor: pointer;
    font-size: 19px;
  }
  .nuitBleuEtBlanc {
    position: relative;
    bottom: 170px;
    left: 150px;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
    font-size: 17px;
  }

  #starsBleuEtBlanc {
    cursor: pointer;
    position: relative; /*etoile bleu*/
    bottom: 113px;
    left: 142px;
    font-size: 19px;
  }
  #starsgrie .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    left: 105px;
    bottom: 62px;
    cursor: pointer;
    font-size: 18px;
  }

  /** filtres**/

  .Economique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;

    padding: 13px;
    text-decoration: none; /*Economique forme ronde et background  */
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;

    width: 120px;
    padding-left: 70px;
    position: relative;
    bottom: 135px;
    left: -28px;
    cursor: pointer;
    text-align: right;
  }
  .Economique a:hover {
    color: white; /*  économique lorsqu'elle devient cliquable   */
    background-color: #0065fc;
  }

  .money {
    color: #0065fc;

    border-radius: 50px 45px 50px 45px; /*icon d'argent pour économique*/
    height: -110px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    bottom: 175px;
    left: -29px;
    font-size: 20px;
  }

  .Romantique a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Romantique forme ronde et background  */
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;
    width: 180px;
    padding: 13px;
    padding-left: 74px;
    position: relative;
    bottom: 228px;
    left: -28px;
    cursor: pointer;
    text-align: right;
  }

  .Romantique a:hover {
    color: white; /* Romantique lorsqu'elle devient cliquable   */
    background-color: #0065fc;
  }

  .ceour {
    color: #0065fc;
    position: relative;
    bottom: 270px;
    left: -28px;
    border-radius: 50px 45px 50px 45px;
    height: -110px;
    width: 20px;
    height: -110px; /*icon d'un ceour pour Romantique*/
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 20px;
  }

  .Animaux a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none; /*Animaux forme ronde et background  */
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;
    width: 220px;
    padding: 13px;
    padding-left: 72px;
    position: relative;
    bottom: 237px;
    left: -28px;
    cursor: pointer;
    text-align: right;
  }

  .Animaux a:hover {
    color: white; /* Animaux lorsqu'elle devient cliquable   */
    background-color: #0065fc;
    position: relative;
  }

  .dog {
    color: #0065fc;
    position: relative;
    bottom: 280px;
    left: -28px;
    border-radius: 50px 45px 50px 45px; /*icon d'un ceour pour Romantique*/
    height: -110px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 22px;
  }

  .Familial a {
    border-radius: 10px/20px;
    border-radius: 40px 40px 40px 40px;
    border-top: 2.5px solid #d1d0d0;
    border-bottom: 2.5px solid #d1d0d0;
    border-right: 3px solid #d1d0d0;
    text-decoration: none;
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    color: black;
    position: relative;
    bottom: 220px;
    left: 183px;
    width: 120px;
    padding: 13px;
    padding-left: 70px;
    cursor: pointer;
    text-align: right;
  }

  .Familial a:hover {
    color: white; /* Familial lorsqu'elle devient cliquable   */
    background-color: #0065fc;
  }

  .enfant {
    color: #0065fc;
    position: relative;
    bottom: 262px;
    left: 183px;
    border-radius: 60px 55px 60px 55px; /*icon d'enfant pour familial*/
    height: -110px;
    width: 20px;
    padding: 14px;
    padding-bottom: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 18px;
    background-color: #deebff;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
  }

  /*** Hébergements à Marseille***/

  #Marseille {
    width: 620px;
    background-color: transparent;
    border: transparent;
    position: relative;
    top: 455px; /*background hébergements*/
    left: -64px;
  }

  /*auberge la cannebière*/

  .marcus {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px; /*image*/
    width: 345px;
    height: 140px;
    position: relative;
  }

  .Auberge {
    color: black;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 15px;
    font-size: 19px;
  }
  .nuitAuberge {
    color: black;
    position: relative;
    bottom: 25px;
    left: 15px;
    font-family: "Raleway", sans-serif;
  }

  .marcusFigure {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*contour de l'image marcus*/
    position: relative;
    top: 20px;
    right: 10px;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  .fa-star {
    color: #0065fc;
    font-size: 0.8em;
    position: relative; /*etoile bleu*/
    bottom: 40px;
    left: 15px;
  }

  #etoile .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58px;
    left: 90px;
  }

  /* Hôtel du port*/

  .figureFred {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    top: 255px;
    right: 290px;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }
  .fred {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px; /*image Hôtel du port*/
    width: 345px;
    height: 140px;
  }
  #Port {
    position: relative;
    bottom: 240px; /*contour de l'image fred*/
    left: 280px;
  }
  .hotelDuPort {
    color: black;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 14px;
    font-size: 19px;
  }

  .nuitPort {
    position: relative;
    bottom: 26px;
    left: 14px;
    font-family: "Raleway", sans-serif;
  }
  #starsPort {
    position: relative; /*etoile bleu*/
  }

  #starsgrey .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58px;
    left: 90px;
  }

  /*Hôtel Les mouettes*/

  .figureMouettes {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    width: 346px;
    height: 220px;
    position: relative;
    right: 15px;
    background-color: rgb(252, 249, 252);
  }

  .reisetopia {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px;
    width: 345px;
    height: 140px;
    position: relative;

    /*image les mouettes*/
  }

  #lesMouettes {
    position: relative;
    top: 10px;
    left: 7px; /*contour de l'image reisetopia*/
  }

  .hotelDesMouettes {
    color: black;
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 14px;
    font-size: 19px;
  }

  .nuitMouettes {
    position: relative;
    bottom: 26px;
    left: 14px;
    font-family: "Raleway", sans-serif;
  }

  #starsMouettes {
    position: relative; /*etoile bleu*/
  }

  #starsgrise .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58px;
    left: 90px;
  }

  /*Hôtel de la mer*/

  .figureLaMer {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    right: 15px;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }
  .annie {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px;
    width: 345px;
    height: 140px;
    position: relative;

    /*image la mer*/
  }
  #LaMer {
    position: relative;
    top: 8px;
    left: 7px; /*contour de l'image annie la mer*/
  }

  .hotelDeLaMer {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 14px;
    font-size: 19px;
  }

  .nuitMer {
    position: relative;
    bottom: 26px;
    left: 14px;
    font-family: "Raleway", sans-serif;
  }

  #starsMer {
    position: relative; /*etoile bleu*/
  }

  #starssilver .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58px;
    left: 90px;
  }

  /*Auberge Le Panier*/

  .figureLePanier {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    right: 15px;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  .nicate {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px;
    width: 345px;
    height: 140px;
    position: relative;

    /*image le Panier nicate*/
  }

  #LePanier {
    position: relative;
    top: 8px;
    left: 7px; /*contour de l'image Panier nicate*/
  }

  .AubergePanier {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 14px;
    font-size: 19px;
  }

  .nuitPanier {
    position: relative;
    bottom: 26px;
    left: 14px;
    font-family: "Raleway", sans-serif;
  }

  #starsPanier {
    position: relative; /*etoile bleu*/
  }

  #starsgrisito .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58px;
    left: 90px;
  }

  /*Hôtel chez Amina*/

  .figureChezAmina {
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 7px solid #f3efef; /*figure de l'image*/
    position: relative;
    right: 15px;
    width: 346px;
    height: 220px;
    background-color: rgb(252, 249, 252);
  }

  .AminaFabien {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px;
    width: 345px;
    height: 140px;
    position: relative;

    /*image le Amina Fabien*/
  }

  #Amina {
    position: relative;
    top: 8px; /*contour de l'image Amina Fabien*/
    left: 7px;
  }
  .ChezAmina {
    font-family: "Raleway-Bold.ttf";
    position: relative;
    bottom: 10px;
    left: 14px;
    font-size: 19px;
  }

  .nuitAmina {
    position: relative;
    bottom: 26px;
    left: 14px;
    font-family: "Raleway", sans-serif;
  }

  #starsAmina {
    position: relative; /*etoile bleu*/
  }
  #starsgriis .fa-star {
    color: rgb(223, 221, 221); /*l'étoile gris*/
    position: relative;
    bottom: 58px;
    left: 90px;
  }

  /*Afficher plus*/

  #AfficherPlus {
    position: relative;
    top: 800px;
    left: 50px;
    font-family: "Raleway-Bold.ttf";
    font-size: 20px;
    cursor: pointer;
    max-width: 120px;
    position: relative;
    top: 20px;
    left: 45px;
  }

  /***Section Activité***/

  #titreActivité {
    position: relative;
    left: -20px;
    top: 828px;
    font-family: "Raleway-Bold.ttf";
  }

  #flexActivite {
    position: relative;
    bottom: 830px;
    height: 200px;
  }

  /***PARTIS ACTIVITé***/
  /*Vieu Port*/

  .Bateaux {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px;
    width: 358px;
    height: 180px;
    cursor: pointer;
  }

  .BateauxVieuPort {
    width: 350px;
    height: 240px;
    position: relative;
    right: 70px;
    top: 830px;
    /*contour image port*/
    cursor: pointer;
    box-shadow: none;

    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 13px solid #f3efef;
  }

  .VieuxPort {
    font-family: "Raleway-Bold.ttf";
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 18px;
  }

  /*Fort de Pomègues*/

  .PaulFort {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image fort*/
  }

  .FortDePomegues {
    width: 350px;
    height: 245px;
    position: relative;
    left: -68px;
    top: 830px;
    /*contour image fort*/
    cursor: pointer;
    box-shadow: 5px 2px 5px #fbfdfd;
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 20px solid #f3efef;
  }

  .FortPomegues {
    font-family: "Raleway-Bold.ttf";
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 18px;
  }

  /*Île du Frioul*/

  .Ilekevin {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image de l'ile*/
  }

  .duFrioul {
    width: 350px;
    height: 245px;
    position: relative;
    left: -67px;
    top: 807px;
    /*contour image de l'ile*/
    cursor: pointer;
    box-shadow: 5px 2px 5px #fbfdfd;
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 20px solid #f3efef;
  }
  .Frioul {
    font-family: "Raleway-Bold.ttf";
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 18px;
  }

  /*Parc National des Calanques*/

  .parcKilyan {
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    padding: bottom 100px;
    width: 358px;
    height: 180px; /* image Parc National*/
    cursor: pointer;
  }

  .desCalanques {
    width: 350px;
    height: 245px;
    position: relative;
    left: -67px;
    top: 805px;
    /*contour image Parc National*/
    cursor: pointer;
    box-shadow: 5px 2px 5px #fbfdfd;
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 20px solid #f3efef;
  }

  .ParcNationalDesCalanques {
    font-family: "Raleway-Bold.ttf";
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 18px;
  }

  /*Notre-Dame-de-la-Garde*/

  .NotreDameFlorian {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Notre Dame*/
  }

  .deLaGarde {
    width: 350px;
    height: 245px;
    position: relative;
    left: -67px;
    top: 805px;
    /*contour image Notre Dame*/
    cursor: pointer;
    box-shadow: 5px 2px 5px #fbfdfd;
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 20px solid #f3efef;
  }

  .Notre-Dame-de-la-Garde {
    font-family: "Raleway-Bold.ttf";
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 18px;
  }
  /*Parc Longchamp*/

  .PaulinLongChamp {
    object-fit: cover;
    border-radius: 20px/20px;
    border-radius: 26px 26px 0px 0px;
    width: 358px;
    height: 180px; /*image Parc LONG Champ*/
  }

  .Longchamp {
    width: 350px;
    height: 245px;
    position: relative;
    left: -67px;
    top: 805px;
    /*contour image Parc LONG Champ*/
    cursor: pointer;
    box-shadow: 5px 2px 5px #fbfdfd;
    border: 7px solid rgb(252, 250, 250);
    border-radius: 20px/20px;
    border-radius: 30px 30px 30px 30px;
    border-top: 7px solid #f8f4f4;
    border-bottom: 20px solid #f3efef;
  }

  .ParcLongchamp {
    font-family: "Raleway-Bold.ttf";
    cursor: pointer;
    position: relative;
    left: 20px;
    bottom: 5px;
    font-size: 18px;
  }

  /*** Footer***/

  #footerBouge {
    position: relative; /*bouger le footer*/
    top: 1548px;
    right: 50px;
    width: 1550px;
    height: 630px;
  }

  .Apropos {
    position: relative;
    left: 20px;
  }

  #direction {
    font-size: 18px;
    position: relative;
    right: 22px;
  }

  /** Nos Hébergements**/

  .NosHebergements {
    /*titre */
    position: relative;
    left: -458px;
    top: 200px;
    margin: 0;
    padding: 0;
  }

  #directionDeHebergements {
    position: relative;
    left: -500px;
    top: 200px;
  }

  /** Assistance**/

  #bougerAssistance {
    position: relative;
    left: 5px;
    top: 125px;
  }

  .Assistance {
    position: relative;
    left: 35px;
    bottom: 10px;
  }
}
