@font-face {
  font-family: "Raleway-ExtraBold.ttf";
  src: url("fontfamily/Raleway-ExtraBold.ttf");
  src: url("fontfamily/Raleway-ExtraBold.ttf?#iefix")
      format("fontfamily/Raleway-ExtraBold.ttfembedded-opentype"),
    url("fontfamily/Raleway-ExtraBold.ttf") format("woff"),
    url("fontfamily/Raleway-ExtraBold.ttf") format("truetype"),
    url("fontfamily/Raleway-ExtraBold.ttf") format("svg");
}

@font-face {
  font-family: "Raleway-ExtraLight.ttf";
  src: url("fontfamily/Raleway-ExtraLight.ttf"); /*font de la page */
  src: url("fontfamily/Raleway-ExtraLight.ttf?#iefix")
      format("fontfamily/Raleway-ExtraLight.ttfembedded-opentype"),
    url("fontfamily/Raleway-ExtraLight.ttf") format("woff"),
    url("fontfamily/Raleway-ExtraLight.ttf") format("truetype"),
    url("fontfamily/Raleway-ExtraLight.ttf") format("svg");
}

@font-face {
  font-family: "Raleway-Bold.ttf";
  src: url("fontfamily/Raleway-Bold.ttf");
  src: url("fontfamily/Raleway-Bold.ttf?#iefix")
      format("fontfamily/Raleway-Bold.ttfembedded-opentype"),
    url("fontfamily/Raleway-Bold.ttf") format("woff"),
    url("fontfamily/Raleway-Bold.ttf") format("truetype"),
    url("fontfamily/Raleway-Bold.ttf") format("svg");
}

/* largeur par la hauteur : 1920 x 1080*/
body {
  max-width: 1920 px; /*config corps*/
  padding-left: 20px;
  height: 1080px;
  overflow-x: hidden;
  position: relative;
  left: 20px;
}

/***Parti ipad   ***/

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  #bloc_page {
    width: auto;
  }

  #Marseille {
    position: relative; /*parti hébergements*/
    top: 800px;
  }

  #Soleil {
    position: relative; /*aside*/
  }

  #AuCeourDeLeau {
    position: relative; /*aside*/
  }

  #toutBleuEtBlanc {
    position: relative;
    top: -1650px; /*aside*/
    margin-left: -940px;
  }

  #populaire {
    position: relative; /*parti populaire*/
    left: -1000px;
    top: -750px;
  }
}

/***  header ***/

#logo img {
  width: 95px;
  height: 50px;
  position: relative;
  bottom: 10px;
  right: 10px;
  /* Navigation */
}
#navigation {
  position: relative;
  bottom: 30px;
  left: 1010px;
}

.Sinscrire {
  font-family: "Raleway-Bold.ttf";
  color: #0065fc;
}

nav ul {
  list-style-type: none;
  display: flex;
  position: relative;
  left: 1100px;
  right: 400px;
}

nav li {
  margin-right: 40px;
}

nav a {
  font-size: 1em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid#0065fc;
  padding-top: 32px;
}

h1 {
  font-family: "Raleway-Bold.ttf";
  font-family: "Raleway-Bold.ttf"; /*Trouvez votre hébergement */
  font-size: 25px;
  position: relative;
  bottom: 45px;
  width: 800px;
  right: 8px;
}

#centre {
  font-family: "Raleway", sans-serif; /* premier p   */
  position: relative;
  bottom: 55px;
  right: 2px;
  width: 800px;
}

.Recherche {
  border-radius: 10px/20px;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc; /* le background de recherche   */
  height: 20px;
  width: 7%;
  text-align: center;
  padding: 17px;
  font-family: "Raleway-Bold.ttf";
  position: absolute;
  left: 339px;
  top: 150px;
  cursor: pointer;
}
.Recherche a {
  text-decoration: none; /* le a premier lien pour rendre cliquable la barre recherche   */
  color: white;
}

.location {
  background-color: #f2f2f2;
  width: 2%; /* icon localisasion*/
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  height: 29px;
  position: absolute;
  top: 150px;
  left: 20px;
}
#pseudo {
  font-size: 17px;
  height: 47px;
  font-family: "Raleway-ExtraBold.ttf"; /*le formulaire*/
  width: 264px;
  position: absolute;
  left: 71px;
  top: 150px;
  text-decoration: none;
  text-decoration-color: black;
  border: transparent;
}

.Filtres {
  font-family: "Raleway-ExtraBold.ttf"; /*paragraphe filtres*/
  width: 16px;
  position: absolute;
  bottom: 780px;
  font-size: 19px;
  right: 1470px;
}

.Economique a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none; /*Economique forme ronde et background  */
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  position: absolute;
  right: 1200px;
  top: 240px;
  width: 180px;
  padding: 13px;

  cursor: pointer;
  text-align: right;
}
.Economique a:hover {
  color: white; /*  économique lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.money {
  color: #0065fc;
  position: absolute;
  top: 240px;
  left: 90px;
  border-radius: 10px/20px;
  border-radius: 30px 30px 30px 30px; /*icon d'argent pour économique*/
  height: -110px;
  width: 15px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 17px;
}

.Familial a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none;
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  position: absolute;
  right: 1010px;
  top: 240px;
  width: 120px;
  padding: 13px;
  cursor: pointer;
  text-align: right;
}

.Familial a:hover {
  color: white; /* Familial lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.enfant {
  color: #0065fc;
  position: absolute;
  top: 240px;
  left: 338px;
  border-radius: 10px/20px;
  border-radius: 30px 30px 30px 30px; /*icon d'enfant pour familial*/
  height: -110px;
  width: 15px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 20px;
}

.Romantique a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none; /*Romantique forme ronde et background  */
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  width: 180px;
  padding: 13px;
  position: absolute;
  right: 767px;
  top: 240px;
  cursor: pointer;
  text-align: right;
}

.Romantique a:hover {
  color: white; /* Romantique lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.ceour {
  color: #0065fc;
  position: absolute;
  top: 240px;
  left: 525px;
  border-radius: 10px/20px;
  border-radius: 30px 30px 30px 30px; /*icon d'un ceour pour Romantique*/
  height: -110px;
  width: 15px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 20px;
}

.Animaux a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none; /*Animaux forme ronde et background  */
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  width: 220px;
  padding: 13px;
  position: absolute;
  right: 494px;
  top: 240px;
  cursor: pointer;
  text-align: right;
}

.Animaux a:hover {
  color: white; /* Animaux lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.dog {
  color: #0065fc;
  position: absolute;
  top: 240px;
  left: 760px;
  border-radius: 10px/20px;
  border-radius: 30px 30px 30px 30px; /*icon d'un ceour pour Romantique*/
  height: -110px;
  width: 18px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 20px;
}

#petiteinfo {
  font-family: "Raleway";
  position: absolute; /*infos*/
  top: 320px;
  right: 1045px;
}

.I {
  color: #0065fc;
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px; /*info icon*/
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  width: 18px;
  text-align: center;
  padding: 3px;
  font-size: 13px;
  position: absolute;
  top: 330px;
  left: 5px;
}

/*** Section hotel   ***/

/*Hébergements à marseile*/

figure {
  cursor: pointer;
}

#titreMarseille {
  font-family: "Raleway-Bold.ttf";
  position: absolute;
  top: 465px; /*hebergements a marseile*/
  right: 1155px;
  background-color: #f2f2f2;
  background-size: 200px;
}

.marcus {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: absolute;
  top: 545px;
  right: 1202px;
}

#Hotel {
  display: flex;
  justify-content: space-around;
}

.fa-star {
  color: #0065fc;
  font-size: 0.8em;
  position: relative;
  top: 139px;
  left: 15px;
}

#backmarcus a {
  text-decoration: none;
}

.Auberge {
  color: black;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 135px;
  left: 15px;
}
.nuitAuberge {
  color: black;
  position: absolute;
  top: 700px;
  right: 1275px;
  font-family: "Raleway", sans-serif;
}
#Marseille {
  background-color: #eeeaea;
  margin-top: 260px;
  height: 700px; /*background d'hébergements */
  width: 930px;
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 2.5px solid#ece9e9;
  border-bottom: 2.5px solid #ece9e9;
  border-right: 3px solid #ece9e9;
}
figure {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*contour de l'image marcus*/
  margin-top: 95px;
  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}
#etoile .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 121px;
  left: 90px;
}

/* Hôtel du port*/
.fred {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px; /*image Hôtel du port*/
  width: 235px;
  height: 140px;
  position: absolute;
  right: 650px;
}
#Port {
  position: relative;
  bottom: 330px; /*contour de l'image fred*/
  left: 280px;
}
.hotelDuPort {
  color: black;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 135px;
  left: 10px;
}

.nuitPort {
  position: relative;
  top: 122px;
  left: 10px;
  font-family: "Raleway", sans-serif;
}
#starsPort {
  position: relative; /*etoile bleu*/
  bottom: 30px;
}

#starsgrey .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
}

/*Hôtel Les mouettes*/

.reisetopia {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: absolute;
  /*image les mouettes*/
}

#lesMouettes {
  position: relative;
  bottom: 660px; /*contour de l'image reisetopia*/
  left: 560px;
}

.hotelDesMouettes {
  color: black;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 135px;
  left: 15px;
}

.nuitMouettes {
  position: relative;
  top: 122px;
  left: 15px;
  font-family: "Raleway", sans-serif;
}

#starsMouettes {
  position: relative; /*etoile bleu*/
  bottom: 30px;
}

#starsgrise .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
}

/*Hôtel de la mer*/

.annie {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: absolute;
  bottom: 84px;
  right: 647px;
  /*image la mer*/
}
#LaMer {
  position: relative;
  bottom: 730px; /*contour de l'image annie la mer*/
  left: 5px;
}

.hotelDeLaMer {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 135px;
  left: 10px;
}

.nuitMer {
  position: relative;
  top: 123px;
  left: 10px;
  font-family: "Raleway", sans-serif;
}

#starsMer {
  position: relative; /*etoile bleu*/
  bottom: 30px;
}

#starssilver .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
}

/*Auberge Le Panier*/

.nicate {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: absolute;
  bottom: 84px;
  right: 647px;
  /*image le Panier nicate*/
}

#LePanier {
  position: relative;
  bottom: 1059px; /*contour de l'image Panier nicate*/
  left: 282px;
}

.AubergePanier {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 135px;
  left: 10px;
}

.nuitPanier {
  position: relative;
  top: 123px;
  left: 10px;
  font-family: "Raleway", sans-serif;
}

#starsPanier {
  position: relative; /*etoile bleu*/
  bottom: 30px;
}

#starsgrisito .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
}

/*Hôtel chez Amina*/

.AminaFabien {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: absolute;
  bottom: 84px;
  right: 648px;
  /*image le Amina Fabien*/
}

#Amina {
  position: relative;
  bottom: 1388px; /*contour de l'image Amina Fabien*/
  left: 558px;
}
.ChezAmina {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 135px;
  left: 15px;
}

.nuitAmina {
  position: relative;
  top: 123px;
  left: 15px;
  font-family: "Raleway", sans-serif;
}

#starsAmina {
  position: relative; /*etoile bleu*/
  bottom: 30px;
}
#starsgriis .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
}

/*Afficher plus*/

#AfficherPlus {
  position: relative;
  bottom: 1375px;
  left: 50px;
  font-family: "Raleway-Bold.ttf";
  font-size: 19px;
  cursor: pointer;
  max-width: 120px;
}

/***Aside POPULAIRE**/

#populaire {
  background-color: #ece9e9;
  margin-bottom: 700px;
  margin-left: 1000px;
  position: relative;
  right: 15px;
  bottom: 705px;
  height: 700px; /*background Populaire */
  width: 430px;
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 2.5px solid#ece9e9;
  border-bottom: 2.5px solid #ece9e9;
  border-right: 3px solid #ece9e9;
  flex: 1.2;
}

.LesPlusPopulaires {
  font-family: "Raleway-Bold.ttf"; /*titre populaire*/
  position: relative;
  top: 20px;
  left: 45px;
}
.fa-chart-line {
  font-size: 25px; /*icon a coter du titre populaire*/
  position: relative;
  bottom: 290px;
  left: 365px;
}

.emile {
  border-radius: 20px/20px;
  border-radius: 26px 0px 0px 26px;
  padding: bottom 100px;
  width: 140px;
  height: 158px;
  position: absolute;
  top: 1px;
  right: 20px px;
  cursor: pointer; /*image emile SOLEIL*/
}
#Soleil {
  width: 350px;
  height: 160px;
  /*contour de l'image emile Soleil*/
  position: relative;
  right: 10px;
  bottom: 50px;
  cursor: pointer;
}

.soleilDuMatin {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 20 px;
  left: 150px;
  cursor: pointer;
}

.nuitSoleil {
  position: relative;
  bottom: 5px;
  left: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

#starsSoleil {
  cursor: pointer;
  position: relative;
  bottom: 115px;
  left: 145px;
}

/*Au coeur de l'eau Chambres d'hôtes*/

.creative {
  border-radius: 20px/20px;
  border-radius: 26px 0px 0px 26px;
  padding: bottom 100px;
  width: 140px;
  height: 158px;
  position: absolute;
  top: 1px;
  right: 210px;
  cursor: pointer; /*image chambre aux ceour de l'eau*/
}

#AuCeourDeLeau {
  width: 350px;
  height: 160px;
  position: relative;
  right: 10px;
  bottom: 160px;
  cursor: pointer; /*contour de l'image chambre au ceour de l'eau*/
}

.chambreAuCeour {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 20 px;
  left: 150px;
  cursor: pointer;
}
.nuitAuCeour {
  position: relative;
  bottom: 5px;
  left: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

#starsCeour {
  cursor: pointer;
  position: relative; /*etoile bleu*/
  bottom: 115px;
  left: 145px;
}
#starsgreyy .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
  cursor: pointer;
}

/*Hôtel Tout bleu et Blanc*/

.bleuEtBlanc {
  border-radius: 20px/20px;
  border-radius: 26px 0px 0px 26px;
  padding: bottom 100px;
  width: 140px;
  height: 158px;
  position: absolute;
  bottom: 2px;
  right: 210px;
  cursor: pointer; /*image hotel bleu et blanc*/
}

#toutBleuEtBlanc {
  width: 350px;
  height: 160px;
  position: relative;
  left: 975px;
  bottom: 1600px;
  cursor: pointer;
  /*contour de l'image hotel bleu et blanc*/
}

.HotelToutBleuEtBlanc {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 150px;
  cursor: pointer;
}
.nuitBleuEtBlanc {
  position: relative;
  bottom: 10px;
  left: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

#starsBleuEtBlanc {
  cursor: pointer;
  position: relative; /*etoile bleu*/
  bottom: 115px;
  left: 145px;
}
#starsgrie .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  top: 120px;
  left: 88px;
  cursor: pointer;
}

/***Section   Activités à Marseille  **/

#titreActivité {
  position: relative;
  bottom: 1540px;
  left: 10px;
  font-family: "Raleway-Bold.ttf";
}

#activite {
  display: flex;
  flex-direction: column;
}
.port {
}
#sectionActivite {
  display: flex;
}

/*Vieu Port*/

.Bateaux {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 330px; /*image vieux port*/
  height: 430px;
  position: relative;
  bottom: 10px;
  right: 4px;
  cursor: pointer;
}

#BateauxVieuPort {
  width: 325px;
  height: 475px;
  position: relative;
  bottom: 1630px;
  right: 40px; /*contour image port*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
}

.VieuxPort {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 25px;
  bottom: 10px;
}

/*Fort de Pomègues*/

.PaulFort {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image fort*/
  height: 200px;
  position: relative;
  bottom: 8px;
}

#FortDePomegues {
  width: 295px;
  height: 245px;
  position: relative;
  bottom: 2235px;
  left: 330px; /*contour image fort*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
}

.FortPomegues {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 10px;
  bottom: 5px;
}

/*Île du Frioul*/

.Ilekevin {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image de l'ile*/
  height: 130px;
}

#duFrioul {
  width: 295px;
  height: 180px;
  position: relative;
  bottom: 2315px;
  left: 330px; /*contour image de l'ile*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
}
.Frioul {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  position: relative;
  left: 20px;
}

/*Parc National des Calanques*/

.parcKilyan {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 330px; /* image Parc National*/
  height: 425px;
  position: relative;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}

#desCalanques {
  width: 325px;
  height: 460px;
  position: relative;
  bottom: 2905px;
  left: 680px; /*contour image Parc National*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
}

.ParcNationalDesCalanques {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 25px;
  bottom: 10px;
}

/*Notre-Dame-de-la-Garde*/

.NotreDameFlorian {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image Notre Dame*/
  height: 150px;
  position: relative;
  bottom: 15px;
}

#deLaGarde {
  width: 300px;
  height: 180px;
  position: relative;
  bottom: 3485px;
  left: 1050px; /*contour image Notre Dame*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
}

.Notre-Dame-de-la-Garde {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 25px;
  bottom: 22px;
}
/*Parc Longchamp*/

.PaulinLongChamp {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image Parc LONG Champ*/
  height: 185px;
  position: relative;
  bottom: 8px;
}

#Longchamp {
  width: 295px;
  height: 220px;
  position: relative;
  bottom: 3560px;
  left: 1050px; /*contour image Parc LONG Champ*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
}

.ParcLongchamp {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 25px;
  bottom: 22px;
}

/*** footer        ***/

/*a propos*/

#footerBouge {
  background-color: #e8ebeb;
  position: relative;
  bottom: 3490px;
  right: 50px;
  width: 1550px;
  height: 250px;
}

footer {
  position: relative;
  top: 60px; /*bouger la structure*/
  left: 10px;
}

.Apropos {
  font-family: "Raleway-ExtraBold.ttf";
  color: #181818; /*titre */
  position: relative;
  left: 40px;
  bottom: 10px;
}

#direction {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  display: flex; /*direction de la ul*/
  flex-direction: column;
  justify-content: space-between;
}
footer li {
  margin-bottom: 15px; /*l'espace entre les li*/
}

/*Nos hébergements*/

#bougerHebergements {
  position: relative;
  left: 495px;
  bottom: 175px;
}

.NosHebergements {
  font-family: "Raleway-ExtraBold.ttf";
  color: #181818; /*titre */
  position: relative;
  left: 35px;
  bottom: 10px;
}

#directionDeHebergements {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  display: flex; /*direction de la ul*/
  flex-direction: column;
  justify-content: space-between;
}

/** Assistance**/

#bougerAssistance {
  position: relative;
  left: 980px;
  bottom: 312px;
}

.Assistance {
  font-family: "Raleway-ExtraBold.ttf";
  color: #181818; /*titre */
  position: relative;
  left: 35px;
  bottom: 10px;
}

#directionAssistance {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  display: flex; /*direction de la ul*/
  flex-direction: column;
  justify-content: space-between;
}

footer li {
  cursor: pointer;
}
