@font-face {
  font-family: "Raleway-ExtraBold.ttf";
  src: url("fontfamily/Raleway-ExtraBold.ttf");
  src: url("fontfamily/Raleway-ExtraBold.ttf?#iefix")
      format("fontfamily/Raleway-ExtraBold.ttfembedded-opentype"),
    url("fontfamily/Raleway-ExtraBold.ttf") format("woff"),
    url("fontfamily/Raleway-ExtraBold.ttf") format("truetype"),
    url("fontfamily/Raleway-ExtraBold.ttf") format("svg");
}

@font-face {
  font-family: "Raleway-ExtraLight.ttf";
  src: url("fontfamily/Raleway-ExtraLight.ttf"); /*font de la page */
  src: url("fontfamily/Raleway-ExtraLight.ttf?#iefix")
      format("fontfamily/Raleway-ExtraLight.ttfembedded-opentype"),
    url("fontfamily/Raleway-ExtraLight.ttf") format("woff"),
    url("fontfamily/Raleway-ExtraLight.ttf") format("truetype"),
    url("fontfamily/Raleway-ExtraLight.ttf") format("svg");
}

@font-face {
  font-family: "Raleway-Bold.ttf";
  src: url("fontfamily/Raleway-Bold.ttf");
  src: url("fontfamily/Raleway-Bold.ttf?#iefix")
      format("fontfamily/Raleway-Bold.ttfembedded-opentype"),
    url("fontfamily/Raleway-Bold.ttf") format("woff"),
    url("fontfamily/Raleway-Bold.ttf") format("truetype"),
    url("fontfamily/Raleway-Bold.ttf") format("svg");
}

/* largeur par la hauteur : 1920 x 1080*/
body {
  overflow-x: hidden;
  max-width: 1920 px;
  /*config corps*/
  padding-left: 20px;
  margin: 0px;
  position: relative;
  left: 15px;
}

#bloc_page {
  margin: auto;
  height: 10px;
}

/***  header ***/

header {
  height: 72px;
}
#logo img {
  width: 95px;
  height: 50px;
  position: relative;
  bottom: 10px;
  right: 10px;
  /* Navigation */
}
#navigation {
  position: relative;
  bottom: 30px;
  left: 1010px;
}

.Sinscrire {
  font-family: "Raleway-Bold.ttf";
  color: #0065fc;
}

nav ul {
  list-style-type: none;
  display: flex;
  position: relative;
  left: 1100px;
  right: 400px;
}

nav li {
  margin-right: 40px;
}

nav a {
  font-size: 1em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

nav a:hover {
  color: #0065fc;
  border-top: 3px solid#0065fc;
  padding-top: 32px;
}

h1 {
  font-family: "Raleway-Bold.ttf";
  font-family: "Raleway-Bold.ttf"; /*Trouvez votre hébergement */
  font-size: 25px;
  position: relative;
  bottom: 45px;
  width: 800px;
  right: 8px;
}
.fa-search {
  visibility: hidden; /*cacher la loupe smarthpone*/
}
#centre {
  font-family: "Raleway", sans-serif; /* premier p   */
  position: relative;
  bottom: 55px;
  right: 2px;
  width: 800px;
}

.Recherche {
  border-radius: 10px/20px;
  border-radius: 0px 15px 15px 0px;
  background-color: #0065fc; /* le background de recherche   */
  height: 20px;
  width: 105px;
  text-align: center;
  padding: 17px;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  left: 320px;
  bottom: 40px;
  cursor: pointer;
}
.Recherche a {
  text-decoration: none; /* le a premier lien pour rendre cliquable la barre recherche   */
  color: white;
}

.location {
  background-color: #f2f2f2;
  width: 2%; /* icon localisasion*/
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  text-align: center;
  height: 29px;
  position: relative;
  bottom: 90px;
}
#pseudo {
  font-size: 17px;
  height: 47px;
  font-family: "Raleway-ExtraBold.ttf"; /*le formulaire*/
  width: 264px;
  position: relative;
  bottom: 155px;
  left: 50px;

  text-decoration: none;
  text-decoration-color: black;
  border: transparent;
}

.Filtres {
  font-family: "Raleway-ExtraBold.ttf"; /*paragraphe filtres*/
  width: 16px;
  position: relative;
  bottom: 130px;
  font-size: 19px;
}

.Economique a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;

  padding: 13px;
  text-decoration: none; /*Economique forme ronde et background  */
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;

  width: 120px;
  padding-left: 70px;
  position: relative;
  bottom: 170px;
  left: 95px;
  cursor: pointer;
  text-align: right;
}
.Economique a:hover {
  color: white; /*  économique lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.money {
  color: #0065fc;

  border-radius: 50px 45px 50px 45px; /*icon d'argent pour économique*/
  height: -110px;
  width: 20px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 17px;
  position: relative;
  bottom: 210px;
  left: 95px;
}

.Familial a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none;
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  position: relative;
  bottom: 250px;
  left: 320px;
  width: 120px;
  padding: 13px;
  padding-left: 70px;
  cursor: pointer;
  text-align: right;
}

.Familial a:hover {
  color: white; /* Familial lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.enfant {
  color: #0065fc;
  position: relative;
  bottom: 290px;
  left: 320px;

  border-radius: 60px 55px 60px 55px; /*icon d'enfant pour familial*/
  height: -110px;
  width: 20px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
}

.Romantique a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none; /*Romantique forme ronde et background  */
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  width: 180px;
  padding: 13px;
  padding-left: 74px;
  position: relative;
  bottom: 334px;
  left: 500px;
  cursor: pointer;
  text-align: right;
}

.Romantique a:hover {
  color: white; /* Romantique lorsqu'elle devient cliquable   */
  background-color: #0065fc;
}

.ceour {
  color: #0065fc;
  position: relative;
  bottom: 375px;
  left: 500px;
  border-radius: 50px 45px 50px 45px;
  height: -110px;
  width: 20px;
  height: -110px; /*icon d'un ceour pour Romantique*/
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 20px;
}

.Animaux a {
  border-radius: 10px/20px;
  border-radius: 40px 40px 40px 40px;
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  text-decoration: none; /*Animaux forme ronde et background  */
  font-family: "Raleway-Bold.ttf";
  font-size: 20px;
  color: black;
  width: 220px;
  padding: 13px;
  padding-left: 72px;
  position: relative;
  bottom: 418px;
  left: 730px;
  cursor: pointer;
  text-align: right;
}

.Animaux a:hover {
  color: white; /* Animaux lorsqu'elle devient cliquable   */
  background-color: #0065fc;
  position: relative;
}

.dog {
  color: #0065fc;
  position: relative;
  bottom: 458px;
  left: 730px;
  border-radius: 50px 45px 50px 45px; /*icon d'un ceour pour Romantique*/
  height: -110px;
  width: 20px;
  padding: 14px;
  padding-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 18px;
  background-color: #deebff;
  cursor: pointer;
  font-size: 20px;
}

#petiteinfo {
  font-family: "Raleway";
  position: relative; /*infos*/
  bottom: 440px;
  left: 40px;
}

.I {
  color: #0065fc;
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px; /*info icon*/
  border-top: 2.5px solid #d1d0d0;
  border-bottom: 2.5px solid #d1d0d0;
  border-right: 3px solid #d1d0d0;
  width: 18px;
  text-align: center;
  padding: 3px;
  font-size: 13px;
  position: relative;
  bottom: 480px;
}

/*** Section hotel   ***/

/*Hébergements à marseile*/

figure {
  cursor: pointer;
  overflow: hidden;
}

#titreMarseille {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  top: 18px; /*hebergements a marseile*/
  left: 43px;

  background-size: 200px;
}

.marcus {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: relative;
}

#Hotel {
  display: flex;
  justify-content: space-around;
}

.fa-star {
  color: #0065fc;
  font-size: 0.8em;
  position: relative;
  bottom: 40px;
  left: 15px;
}

#backmarcus a {
  text-decoration: none;
}

.Auberge {
  color: black;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 15px;
}
.nuitAuberge {
  color: black;
  position: relative;
  bottom: 25px;
  left: 15px;
  font-family: "Raleway", sans-serif;
}
#Marseille {
  background-color: #eeeaea;

  height: 700px; /*background d'hébergements */
  width: 930px;
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 2.5px solid#ece9e9;
  border-bottom: 2.5px solid #ece9e9;
  border-right: 3px solid #ece9e9;
  position: relative;
  bottom: 400px;
}
.marcusFigure {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*contour de l'image marcus*/
  position: relative;
  top: 20px;
  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}
#etoile .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 58px;
  left: 90px;
}

/* Hôtel du port*/

.figureFred {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/
  position: relative;
  top: 10px;

  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}
.fred {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px; /*image Hôtel du port*/
  width: 235px;
  height: 140px;
}
#Port {
  position: relative;
  bottom: 240px; /*contour de l'image fred*/
  left: 280px;
}
.hotelDuPort {
  color: black;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 14px;
}

.nuitPort {
  position: relative;
  bottom: 26px;
  left: 14px;
  font-family: "Raleway", sans-serif;
}
#starsPort {
  position: relative; /*etoile bleu*/
}

#starsgrey .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 58px;
  left: 90px;
}

/*Hôtel Les mouettes*/

.figureMouettes {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/

  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}

.reisetopia {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: relative;

  /*image les mouettes*/
}

#lesMouettes {
  position: relative;
  bottom: 484px; /*contour de l'image reisetopia*/
  left: 560px;
}

.hotelDesMouettes {
  color: black;
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 14px;
}

.nuitMouettes {
  position: relative;
  bottom: 26px;
  left: 14px;
  font-family: "Raleway", sans-serif;
}

#starsMouettes {
  position: relative; /*etoile bleu*/
}

#starsgrise .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 58px;
  left: 90px;
}

/*Hôtel de la mer*/

.figureLaMer {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/
  position: relative;
  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}
.annie {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: relative;

  /*image la mer*/
}
#LaMer {
  position: relative;
  bottom: 470px; /*contour de l'image annie la mer*/
  right: 5 px;
}

.hotelDeLaMer {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 14px;
}

.nuitMer {
  position: relative;
  bottom: 26px;
  left: 14px;
  font-family: "Raleway", sans-serif;
}

#starsMer {
  position: relative; /*etoile bleu*/
}

#starssilver .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 58px;
  left: 90px;
}

/*Auberge Le Panier*/

.figureLePanier {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/
  position: relative;
  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}

.nicate {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: relative;

  /*image le Panier nicate*/
}

#LePanier {
  position: relative;
  bottom: 722px; /*contour de l'image Panier nicate*/
  left: 282px;
}

.AubergePanier {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 14px;
}

.nuitPanier {
  position: relative;
  bottom: 26px;
  left: 14px;
  font-family: "Raleway", sans-serif;
}

#starsPanier {
  position: relative; /*etoile bleu*/
}

#starsgrisito .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 58px;
  left: 90px;
}

/*Hôtel chez Amina*/

.figureChezAmina {
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/

  width: 235px;
  height: 220px;
  background-color: rgb(252, 249, 252);
}

.AminaFabien {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 235px;
  height: 140px;
  position: relative;

  /*image le Amina Fabien*/
}

#Amina {
  position: relative;
  bottom: 974px; /*contour de l'image Amina Fabien*/
  left: 565px;
}
.ChezAmina {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 10px;
  left: 14px;
}

.nuitAmina {
  position: relative;
  bottom: 26px;
  left: 14px;
  font-family: "Raleway", sans-serif;
}

#starsAmina {
  position: relative; /*etoile bleu*/
}
#starsgriis .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 58px;
  left: 90px;
}

/*Afficher plus*/

#AfficherPlus {
  position: relative;
  bottom: 1100px;
  left: 50px;
  font-family: "Raleway-Bold.ttf";
  font-size: 19px;
  cursor: pointer;
  max-width: 120px;
  position: relative;
  bottom: 950px;
  left: 50px;
}

/***Aside POPULAIRE**/

#populaire {
  background-color: #ece9e9;
  margin-bottom: 700px;
  margin-left: 1000px;
  position: relative;
  right: 15px;
  bottom: 1105px;
  height: 700px; /*background Populaire */
  width: 430px;
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 2.5px solid#ece9e9;
  border-bottom: 2.5px solid #ece9e9;
  border-right: 3px solid #ece9e9;
  flex: 1.2;
}

.LesPlusPopulaires {
  font-family: "Raleway-Bold.ttf"; /*titre populaire*/
  position: relative;
  left: 50px;
  top: 20px;
}
.fa-chart-line {
  font-size: 25px; /*icon a coter du titre populaire*/
  position: relative;
  bottom: 220px;
  left: 365px;
}

.emile {
  border-radius: 20px/20px;
  border-radius: 26px 0px 0px 26px;
  padding: bottom 100px;
  width: 140px;
  height: 158px;
  position: relative;

  cursor: pointer; /*image emile SOLEIL*/
}
#Soleil {
  width: 350px;
  height: 160px;
  /*contour de l'image emile Soleil*/
  position: relative;
  right: 10px;
  top: 20px;
  cursor: pointer;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/

  width: 355px;
  height: 160px;
  background-color: rgb(252, 249, 252);
}

.soleilDuMatin {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 165px;
  left: 150px;
  cursor: pointer;
}

.nuitSoleil {
  position: relative;
  bottom: 170px;
  left: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

#starsSoleil {
  cursor: pointer;
  position: relative;
  bottom: 115px;
  left: 145px;
}

/*Au coeur de l'eau Chambres d'hôtes*/

.creative {
  border-radius: 20px/20px;
  border-radius: 26px 0px 0px 26px;
  padding: bottom 100px;
  width: 140px;
  height: 158px;
  position: relative;

  cursor: pointer; /*image chambre aux ceour de l'eau*/
}

#AuCeourDeLeau {
  width: 350px;
  height: 160px;
  position: relative;
  right: 10px;
  bottom: 18px;
  cursor: pointer; /*contour de l'image chambre au ceour de l'eau*/
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/

  width: 355px;
  height: 160px;
  background-color: rgb(252, 249, 252);
}

.chambreAuCeour {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 165px;
  left: 150px;
  cursor: pointer;
}
.nuitAuCeour {
  position: relative;
  bottom: 170px;
  left: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

#starsCeour {
  cursor: pointer;
  position: relative; /*etoile bleu*/
  bottom: 115px;
  left: 145px;
}
#starsgreyy .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 59px;
  left: 90px;
  cursor: pointer;
}

/*Hôtel Tout bleu et Blanc*/

.bleuEtBlanc {
  border-radius: 20px/20px;
  border-radius: 26px 0px 0px 26px;
  padding: bottom 100px;
  width: 140px;
  height: 158px;
  position: relative;
  cursor: pointer; /*image hotel bleu et blanc*/
}

.toutBleuEtBlanc {
  width: 350px;
  height: 160px;
  position: relative;
  bottom: 1px;
  right: 10px;
  cursor: pointer;
  position: auto;
  /*contour de l'image hotel bleu et blanc*/
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef; /*figure de l'image*/

  width: 355px;
  height: 160px;
  background-color: rgb(252, 249, 252);
}

.HotelToutBleuEtBlanc {
  font-family: "Raleway-Bold.ttf";
  position: relative;
  bottom: 165px;
  left: 150px;
  cursor: pointer;
}
.nuitBleuEtBlanc {
  position: relative;
  bottom: 170px;
  left: 150px;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
}

#starsBleuEtBlanc {
  cursor: pointer;
  position: relative; /*etoile bleu*/
  bottom: 115px;
  left: 145px;
}
#starsgrie .fa-star {
  color: rgb(223, 221, 221); /*l'étoile gris*/
  position: relative;
  bottom: 59px;
  left: 90px;
  cursor: pointer;
}

/***Section   Activités à Marseille  **/

#titreActivité {
  position: relative;
  left: 2px;
  top: 828px;
  font-family: "Raleway-Bold.ttf";
}

#flexActivite {
  position: relative;
  bottom: 2600px;
  height: 200px;
}

/***PARTIS ACTIVITé***/
/*Vieu Port*/

.Bateaux {
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 330px; /*image vieux port*/
  height: 430px;

  cursor: pointer;
}

.BateauxVieuPort {
  width: 325px;
  height: 475px;
  position: relative;
  right: 50px;
  top: 830px;
  /*contour image port*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
}

.VieuxPort {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 20px;
  bottom: 5px;
}

/*Fort de Pomègues*/

.PaulFort {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image fort*/
  height: 200px;
}

.FortDePomegues {
  width: 295px;
  height: 245px;
  position: relative;
  left: 320px;
  top: 327px;
  /*contour image fort*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
}

.FortPomegues {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 20px;
  bottom: 5px;
}

/*Île du Frioul*/

.Ilekevin {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image de l'ile*/
  height: 130px;
}

.duFrioul {
  width: 295px;
  height: 180px;
  position: relative;
  left: 320px;
  top: 345px;
  /*contour image de l'ile*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
}
.Frioul {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 20px;
  bottom: 5px;
}

/*Parc National des Calanques*/

.parcKilyan {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  padding: bottom 100px;
  width: 330px; /* image Parc National*/
  height: 425px;

  cursor: pointer;
}

.desCalanques {
  width: 325px;
  height: 475px;
  position: relative;
  left: 660px;
  bottom: 160px;
  /*contour image Parc National*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
}

.ParcNationalDesCalanques {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 20px;
  bottom: 5px;
}

/*Notre-Dame-de-la-Garde*/

.NotreDameFlorian {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image Notre Dame*/
  height: 150px;
}

.deLaGarde {
  width: 300px;
  height: 195px;
  position: relative;
  left: 1040px;
  bottom: 670px;
  /*contour image Notre Dame*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
}

.Notre-Dame-de-la-Garde {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 20px;
  bottom: 5px;
}
/*Parc Longchamp*/

.PaulinLongChamp {
  object-fit: cover;
  border-radius: 20px/20px;
  border-radius: 26px 26px 0px 0px;
  width: 300px; /*image Parc LONG Champ*/
  height: 185px;
}

.Longchamp {
  width: 295px;
  height: 235px;
  position: relative;
  bottom: 650px;
  left: 1045px;
  /*contour image Parc LONG Champ*/
  cursor: pointer;
  box-shadow: 5px 2px 5px #fbfdfd;
  border: 7px solid rgb(252, 250, 250);
  border-radius: 20px/20px;
  border-radius: 30px 30px 30px 30px;
  border-top: 7px solid #f8f4f4;
  border-bottom: 7px solid #f3efef;
}

.ParcLongchamp {
  font-family: "Raleway-Bold.ttf";
  cursor: pointer;
  position: relative;
  left: 20px;
  bottom: 5px;
}

/*** footer        ***/

/*a propos*/

#footerBouge {
  background-color: #e8ebeb;
  position: relative;
  bottom: 1400px;
  margin: 0px;
  right: 50px;
  width: 1550px;
  margin-bottom: 0px;
}

#footerBack {
  position: relative;
  top: 55px;
  left: 20px;
}

footer {
  position: relative;
  top: 25px; /*bouger la structure*/
  left: 10px;
}

.Apropos {
  font-family: "Raleway-ExtraBold.ttf";
  color: #181818; /*titre */
  position: relative;
  left: 40px;
  bottom: 10px;
}

#direction {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  display: flex; /*direction de la ul*/
  flex-direction: column;
  justify-content: space-between;
}
footer li {
  margin-bottom: 15px; /*l'espace entre les li*/
}

/*Nos hébergements*/

#bougerHebergements {
  position: relative;
  left: 495px;
  bottom: 120px;
  margin: 0;
  padding: 0;
}

.NosHebergements {
  font-family: "Raleway-ExtraBold.ttf";
  color: #181818; /*titre */
  position: relative;
  left: 35px;
  bottom: 10px;
  margin: 0;
  padding: 0;
}

#directionDeHebergements {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  display: flex; /*direction de la ul*/
  flex-direction: column;
  justify-content: space-between;
}

/** Assistance**/

#bougerAssistance {
  position: relative;
  left: 980px;
  bottom: 260px;
}

.Assistance {
  font-family: "Raleway-ExtraBold.ttf";
  color: #181818; /*titre */
  position: relative;
  left: 35px;
  bottom: 10px;
}

#directionAssistance {
  font-family: "Raleway", sans-serif;
  list-style-type: none;
  display: flex; /*direction de la ul*/
  flex-direction: column;
  justify-content: space-between;
}

footer li {
  cursor: pointer;
}

footer {
  background-color: #e8ebeb;
  height: 280px;
  margin: 0;
  padding: 0;
}
